# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# venv
.venv/

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# Environnement / secrets
.env

# Packaging / build artifacts
*.egg-info/
build/
dist/

# MkDocs
site/
