# --- Ignorer uniquement les PDF des assets ---
src/mon_projet/assets/pdfs/**/*.pdf
!src/mon_projet/assets/pdfs/.gitkeep

# Résultats de tests
tests/results_*.json

# caches Python
__pycache__/
*.pyc

# macOS
.DS_Store
src/.DS_Store
src/mon_projet/.DS_Store
src/mon_projet/assets/.DS_Store

# environnements / artefacts
.venv/
.env
src/servo.egg-info/
sandbox/
.coverage
